@import "../../global";

$--topbar-height: 60px;

.section.education {
  padding-top: var(--topbar-height) !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // Align content to the top
  align-items: center; // Center content horizontally

  .title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  .table_container {
    width: 100%;
    height: auto;
    overflow: auto;

    .MuiTableCell-head {
      background-color: #1976d2;
      color: #fff;
      font-weight: bold;
    }

    .MuiTableCell-body {
      font-size: 16px;
    }

    .MuiTableRow-root:hover {
      background-color: #f1f1f1;
    }
  }
}
