.topbar {
  width: 100%;
  height: 70px;
  background-color: white;
  color: #e17055;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
}
.topbar .wrapper {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .wrapper .left {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .topbar .wrapper .left {
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
    padding-left: 10px;
  }
}
.topbar .wrapper .left .logo {
  font-size: 40px;
  font-weight: 700;
  transition: all 1s ease;
  text-decoration: none;
  color: #e17055;
  margin-right: 40px;
}
@media (max-width: 768px) {
  .topbar .wrapper .left .logo {
    margin-right: 0px;
    font-size: 20px;
    padding-right: 0px;
    transition: all 1s ease;
  }
}
.topbar .wrapper .left .itemContainer {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .topbar .wrapper .left .itemContainer {
    margin-left: 0px;
  }
}
.topbar .wrapper .left .itemContainer .icon {
  font-size: 18px;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .topbar .wrapper .left .itemContainer .icon {
    margin-left: 0px;
  }
}
.topbar .wrapper .left .itemContainer span {
  font-size: 15px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .topbar .wrapper .left .itemContainer span {
    padding-left: 10px;
    padding-right: 20px;
    flex-direction: flex;
  }
}
.topbar .wrapper .right .hamburger {
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.topbar .wrapper .right .hamburger span {
  width: 100%;
  height: 3px;
  background-color: #e17055;
  transform-origin: left;
  transition: all 2s ease;
}
.topbar.active {
  background-color: #e17055;
  color: white;
}
.topbar.active .wrapper .left .logo {
  color: white;
}
.topbar.active .hamburger span:first-child {
  background-color: white;
  transform: rotate(45deg);
}
.topbar.active .hamburger span:nth-child(2) {
  opacity: 0;
}
.topbar.active .hamburger span:last-child {
  background-color: white;
  transform: rotate(-45deg);
}

