@import "../../global";

.publication-table {
  margin: 2rem auto;
  padding: 40px 20px;
  background-color: white;
  //display: flex;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;

   p{
       text-align:center;
   }
  @include mobile {
    font-size: 17px;
  }
}


