$timelineColor: #2B6CB0;

.timeline-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 40px 20px;
  margin-top: 5rem;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: $timelineColor;
}

.timeline-badge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; // Adjust as needed
  z-index: 2;

  .badge-pill {
    background-color: $timelineColor; // Use your preferred color
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.timeline-node {
  position: relative;
  margin-bottom: 60px;
  width: 100%;
  display: flex;

  &.work {
    justify-content: flex-end;

    .timeline-node-content {
      margin-left: auto;
      margin-right: 30px;
    }
  }

  &.education {
    justify-content: flex-start;

    .timeline-node-content {
      margin-left: 30px;
      margin-right: auto;
    }
  }

  .timeline-node-content {
    width: 45%;
    max-width: 500px;
  }

  .node-card {
    background-color: #FFF5EE;
    border: 1px solid #FFA07A;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

}

// Responsive styles
@media (max-width: 768px) {
  .timeline-line {
    left: 20px;
  }

  .timeline-node {
    &.work, &.education {
      justify-content: flex-start;
    }

    .timeline-node-content {
      width: calc(100% - 40px);
      margin-left: 40px !important;
      margin-right: 0 !important;
    }
  }
}