@import '../../variables';
@import '../../app';

.intro {
  background-color: #E6F3FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: flex-start;
  padding-bottom: 2rem; // Space for the player at the bottom
  padding-top: 2rem;// -top: 3rem;
  overflow: auto;
  width: 100%;
  position: relative;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 3; // Ensure it grows to take up the remaining space
  }

  .top {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;

    .imageContainer {
    width: 100%;
    max-width: 20rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  }

  .middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .typewriter {
    font-family: monospace;
    font-size: clamp(0.9rem, 2.5vw, 1.3rem);
    line-height: 1.4;
    white-space: pre-wrap;
    color: #333333;
    text-align: center;
    margin: 1rem 0;

    .colored {
      color: $accentFontColor;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: transparent;
    //box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative; // Keep it at the bottom of the content flow
    bottom: 0;

    // Style the Play component if needed
    .play-container {
      width: 100%;
      max-width: 100rem;
    }
  }

  @media (max-width: 750px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2rem; // Space for the player at the bottom
    padding-top: 2rem;// -top: 3rem;
    overflow: auto;
    width: 100%;
    position: relative;
    max-height: 100vh;

    .content-wrapper {
      justify-content: center;
      flex-grow: 1;
      height: auto;
      flex-direction: column;
    }

    .top {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    }

    .middle {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 0.5;
      margin-top: 2rem;
  }

    .imageContainer {
      width: 60%;
      max-width: 12rem;
    }

    .typewriter {
      font-size: clamp(1rem, 2vw, 2rem);
      margin: 0;
      align-items: center;
      flex-grow: 0.5;
    }

    .bottom {
      display: flex; // Hides the entire bottom section on mobile
    }
  }
}
