@import '../../variables';

.intro {
  background-color: #e9f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 4.375rem); // Adjust for the height of the topbar
  margin-top: 4.375rem; // Push content below the topbar
  padding-bottom: 5rem; // Space for the player at the bottom
  overflow-y: auto;
  width: 100%;
  position: relative;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80rem;
    flex-grow: 1; // Ensure it grows to take up the remaining space
    padding: 1rem;
    margin-top: 4.375rem;
    overflow: hidden;
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .imageContainer {
    width: 100%;
    max-width: 20rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .typewriter {
    font-family: monospace;
    font-size: clamp(0.9rem, 2.5vw, 1.3rem);
    line-height: 1.4;
    white-space: pre-wrap;
    color: #333333;
    text-align: center;
    margin: 1rem 0;

    .colored {
      color: $accentFontColor;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: transparent;
    //box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative; // Keep it at the bottom of the content flow
    bottom: 0;

    // Style the Play component if needed
    .play-container {
      width: 100%;
      max-width: 80rem;
      padding: 1rem;
    }
  }

  @media (max-width: 750px) {
    margin-top: 203px; // Ensure there's space for the fixed topbar
    //margin-bottom: 0.5rem; // Remove space for the player when it's hidden

    .content-wrapper {
      padding: 0.5rem;
      justify-content: center;
      flex-grow: 0;
    }

    .middle {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 0.5;
      margin-top: 2rem;
  }

    .imageContainer {
      width: 60%;
      max-width: 12rem;
    }

    .typewriter {
      font-size: clamp(1rem, 2vw, 2rem);
      margin: 0;
      align-items: center;
      flex-grow: 0.5;
    }

    .bottom {
      display: none; // Hides the entire bottom section on mobile
    }
  }
}
