@import '../../variables';
@import '../../app';

.intro {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem; // Space for the player at the bottom
  //padding-top: 1rem;// -top: 3rem;
  overflow: auto;
  width: 100%;
  position: relative;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 3; // Ensure it grows to take up the remaining space
  }

  .top {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;

    .imageContainer {
      width: 100%;
      max-width: 25rem;
      border-radius: 50%;
      overflow: hidden;
      aspect-ratio: 1 / 1;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  .typewriter-container {
    height: 20em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .typewriter {
    font-family: monospace;
    max-width: 80%;
    font-size: clamp(0.9rem, 2.5vw, 1.3rem);
    line-height: 1.4;
    white-space: pre-wrap;
    color: #333333;
    text-align: center;
    margin: 1rem 0;

    .colored {
      color: $accentFontColor;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: transparent;
    //box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative; // Keep it at the bottom of the content flow
    bottom: 0;

    // Style the Play component if needed
    .play-container {
      width: 100%;
      max-width: 100rem;
    }
  }

  @media (max-width: 750px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    justify-content: flex-start;
    //padding-bottom: 2rem; // Space for the player at the bottom
    //padding-top: 2rem;// -top: 3rem;
    overflow: auto;
    width: 100%;
    position: relative;
    max-height: 100vh;
    flex-grow: 2;

    .content-wrapper {
      justify-content: center;
      flex-grow: 2;
      height: auto;
      flex-direction: column;
    }

    .top {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 1%;
      padding-bottom: 1%;
      margin: 0;

      .imageContainer {
        width: 80%;
        border-radius: 100%;
        overflow: hidden;
        //aspect-ratio: 1 / 1;

        img {
          height: auto;
          justify-content: center;
        }
      }
    }

    .typewriter-container {
      height: 13rem;
      padding-top: 2%;
      padding-bottom: 2%;

      .typewriter {
        font-size: clamp(1rem, 2vw, 2rem);
        align-items: center;
        flex-grow: 0.5;
      }
    }

    .bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem;
      background-color: transparent;
      //box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
      position: relative; // Keep it at the bottom of the content flow
      bottom: 0;

      .play-container {
        width: 85%;
      }
    }
  }

  @media (max-height: 667px) {
    .bottom {
      display: none;
      }
    }
}
