$mainFontColor: #f5f5f5 ;
$accentFontColor: #E4572E;
$accentBackgroundColor: #E4572E;
$mainBackgroundColor:  #e9f5f9;
$topBarColor: #ffa07a;
$introFontColor: #808080FF;
$hover-color: #FFFFFF;

:root {
  //--topbar-height: 70px;
  --topbar-mobile-height: auto;
}